@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

* {
  color: #00203c;
  font-family: "Quicksand", sans-serif;
}
.c1200{
  max-width: 1200px;
  margin: 0 auto !important;
}
h1{
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
}
h2{
  /* font-family: "Montserrat Alternates", sans-serif; */
  font-size: 1.625rem;
  font-weight: 700;
  text-transform: uppercase;
}
h3{
  font-size: 1.5rem;
  font-weight: 700;
}
h4{
  font-size: 1.25rem;
  font-weight: 600;
}
h5{
  font-size: 1rem;
  font-weight: 500;
}
p{
  font-size: 0.9375rem;
  font-weight:500;
  margin: 0;
}
.para{
  font-size: 1rem;
}
.w1000{
  width: 1000px;
}
/* --------------------------------------------hcContent-------------------------------------------- */



/* ------------------------------------ Section three ------------------------------------------ */
.secThree-img img {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.secThree {
  background-color: rgb(255, 255, 255);
  /* margin-top: -10rem; */
  /* gap: 50px; */
  padding: 0;
  border-radius: 25px;
  /* justify-content: center;  */
  font-size: 1.2rem;
  box-shadow: rgba(1, 24, 58, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.secThree-info {
  margin: auto 0;
  flex-direction: column;
  width: 40%;
  padding: 0 50px 0 50px;
}

.secThree-info hr {
  margin: auto 0;
  color: #005bab;
  /* flex-direction: column; */
}
.sti {
  padding: 25px 0 25px 0;
  gap: 15px;
}
.secThree-info p {
  font-weight: 500;
  color: #005bab;
}
.secThree-info img {
  width: 30px;
  color: red;
}

/* ---------------------------------------- TestCards ------------------------------------------- */
.cards {
  gap: 25px;
  margin-bottom: 50px;
}
.test-cards {
  gap: 25px;
  justify-content: center;
}
.test-card {
  margin-top: 25px;
  background-color: #f2f2f2;
  padding: 30px;
  border-top: 1px solid #005bab;
  border-bottom: 1px solid #005bab;
  border-radius: 25px;
  width: 350px;
  text-align: left;
}
.test-card h3 {
  color: #333333;
  font-size: 1.1rem;
  font-weight: 600;
}
.test-card span {
  color: #005bab;

  font-size: 2rem;
  font-weight: 600;
}
.test-btn {
  background-color: #00aeef;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 12px 36px;
}
.test-btns {
  justify-content: flex-end;
}

/* ------------------------------------------- Section Four ------------------------------------- */
.cards {
  justify-content: center;
}


/* ----------------------------------------- Section Five ------------------------------------------ */

.secFive {
  justify-content: center;
  text-align: center;
}
.s5-searchbox {
  justify-content: center;
  gap: 0;
  margin-bottom: 25px;
}
.s5-search {
  background-color: #ffffff;
  
  padding: 8px 24px;
  font-size: 1.2rem;
  color: #005bab;
  border-radius: 25px 0 0 25px;
}
.s5-searchBtn {
  background-color: #005bab;
  padding: 8px 24px;
  font-size: 1.2rem;
  color: #fff;
  border: 2px solid #005bab;
  border-radius: 0 25px 25px 0;
}
.s5-bookAtest {
  margin-top: 50px 0 25px 0;
}

/* ----------------------------------------- Health Condition Articles ------------------------------------------ */


